
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 20px;
    background-color: #FFFF;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}
.left{
    width: 400px;
    height: 500px;
    background-color: black;
    color: #FFFF;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.left > h2{
    position: absolute;
    top: 0;
    left: 10px;
}
.right,.form-login,.form-signup{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #a09c9c;
    padding: 10px;
    border-radius: 8px;
}
.form-login,.form-signup{
    gap: 25px;
}
.form-login > input,.form-signup > input{
    padding: 10px 4px;
    display: flex;
}
.signup-btn,.form-login > [type="submit"],.form-signup > [type="submit"]{
    width: 100%;
    padding: 10px 4px;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: #ffda06;
    font-weight: bold;
    font-size: 14px;
}
.login,.signup-btn,.sign-up{
    cursor: pointer;
}
@media(max-width: 574px){
    .container{
        flex-direction: column;
    }
    .left{
        display: none;
    }
    .right,.form-login,.form-signup{
        width: 250px;
    }
}

/* admin style */
.grid-container{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
    height: 96vh;
}
.menu-aside{
    background: #d3d1d1;
    grid-column: span 3;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}
.aside-form{
    min-width: 100%;
    border: 1px solid #080808;
    border-radius: 25px;
    padding-left: 2px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    background: #FFFF;
}
.aside-form form > input,.aside-form form > button{
    border: none;
    background: #FFFF;
    font-weight: bold;
    font-size: 14px;
}
.aside-form > form{
    display: flex;
    align-items: center;
}
.aside-form form > input:focus{
    outline: none;
    background: #FFFF;
}

.dashboard-content{
    background: #be6060;
    grid-column: span 9;
    padding: 10px;
}
@media(max-width: 574px){
    .menu-aside{
        grid-column: span 1;
        background: #FFFF;
    }
    .top-menu-text,.aside-content{
        display: none;
    }
    .dashboard-content{
        grid-column: span 11;
    }
    .grid-container{
        margin: 0px;
    }
}

