<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Todo - sign-up</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h2>Todo App</h2>
            <img src="./assets/images/bmw.png" alt="" height="200px" width="200px">
        </div>
         <!-- sign up form -->
         <form action="/signup" method="POST" class="form-signup">
            <h1>Sign up</h1>
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="password">
            <input type="password" name="cpassword" placeholder="confirm password" required>
            <button type="submit">Sign up</button>
            <p style="text-align: center; font-weight: bold;">Already have an account? <a href="/login" class="login">Sign in</a></p>
            <p>{{.msg}}</p>
         </form>
    </div>
</body>
</html>